<div class="form-group">
  <div class="form-group">
    <h3>Map Type</h3>
    <select ng-model="vis.params.mapType" class="form-control">
      <option value="world_mill" selected="selected">World</option>
      <option value="africa_mill">Africa</option>
      <option value="asia_mill">Asia</option>
      <option value="europe_mill">Europe</option>
      <option value="north_america_mill">North America</option>
      <option value="oceania_mill">Oceania</option>
      <option value="south_america_mill">South America</option>
      <option value="us_aea">USA</option>
      <option value="us-ak_mill_en">US - AK</option> 
      <option value="us-al_mill_en">US - AL</option>
      <option value="us-ar_mill_en">US - AR</option>
      <option value="us-az_mill_en">US - AZ</option>
      <option value="us-ca_mill_en">US - CA</option>
      <option value="us-co_mill_en">US - CO</option>
      <option value="us-ct_mill_en">US - CT</option>
      <option value="us-dc_mill_en">US - DC</option>
      <option value="us-de_mill_en">US - DE</option>
      <option value="us-fl_mill_en">US - FL</option>
      <option value="us-ga_mill_en">US - GA</option>
      <option value="us-hi_mill_en">US - HI</option>
      <option value="us-ia_mill_en">US - IA</option>
      <option value="us-id_mill_en">US - ID</option>
      <option value="us-il_mill_en">US - IL</option>
      <option value="us-in_mill_en">US - IN</option>
      <option value="us-ks_mill_en">US - KS</option>
      <option value="us-ky_mill_en">US - KY</option>
      <option value="us-la_mill_en">US - LA</option>
      <option value="us-ma_mill_en">US - MA</option>
      <option value="us-md_mill_en">US - MD</option>
      <option value="us-me_mill_en">US - ME</option>
      <option value="us-mi_mill_en">US - MI</option>
      <option value="us-mn_mill_en">US - MN</option>
      <option value="us-mo_mill_en">US - MO</option>
      <option value="us-ms_mill_en">US - MS</option>
      <option value="us-mt_mill_en">US - MT</option>
      <option value="us-nc_mill_en">US - NC</option>
      <option value="us-nd_mill_en">US - ND</option>
      <option value="us-ne_mill_en">US - NE</option>
      <option value="us-nh_mill_en">US - NH</option>
      <option value="us-nj_mill_en">US - NJ</option>
      <option value="us-nm_mill_en">US - NM</option>
      <option value="us-nv_mill_en">US - NV</option>
      <option value="us-ny_mill_en">US - NY</option>
      <option value="us-oh_mill_en">US - OH</option>
      <option value="us-ok_mill_en">US - OK</option>
      <option value="us-or_mill_en">US - OR</option>
      <option value="us-pa_mill_en">US - PA</option>
      <option value="us-ri_mill_en">US - RI</option>
      <option value="us-sc_mill_en">US - SC</option>
      <option value="us-sd_mill_en">US - SD</option>
      <option value="us-tn_mill_en">US - TN</option>
      <option value="us-tx_mill_en">US - TX</option>
      <option value="us-ut_mill_en">US - UT</option>
      <option value="us-va_mill_en">US - VA</option>
      <option value="us-vt_mill_en">US - VT</option>
      <option value="us-wa_mill_en">US - WA</option>
      <option value="us-wi_mill_en">US - WI</option>
      <option value="us-wv_mill_en">US - WV</option>
      <option value="us-wy_mill_en">US - WY</option>
    </select>
  </div>

  <!-- Color Scale -->
  <div class="form-group">
    <h3>Map Color Scale</h3>
    <label>Min Color: </label>
    <input type="text" ng-model="vis.params.minColor"><br>
    <label>Max Color: </label>
    <input type="text" ng-model="vis.params.maxColor">
  </div>

  <!-- Tooltip Number Format Type -->
  <div class="form-group">
    <h3>Tooltip Number Format</h3>
    <select ng-model="vis.params.tipNumberFormat" class="form-control">
      <option value="number" selected="selected">number</option>
      <option value="bytes">bytes</option>
      <option value="currency">currency</option>
      <option value="percentage">percentage</option>
    </select>
  </div>

  <!-- jVectorMap normalize function -->
  <div class="form-group">
    <h3>Normalize Function</h3>
    <select ng-model="vis.params.normalizeFunction" class="form-control">
      <option value="polynomial" selected="selected">polynomial</option>
      <option value="linear">linear</option>
    </select>
  </div>
</div>
