<div class="form-group">
  <div class="form-group">
    <h3>Map Type</h3>
    <select ng-model="vis.params.mapType" class="form-control">
      <option value="world_mill" selected="selected">World</option>
      <option value="africa_mill">Africa</option>
      <option value="asia_mill">Asia</option>
      <option value="europe_mill">Europe</option>
      <option value="north_america_mill">North America</option>
      <option value="oceania_mill">Oceania</option>
      <option value="south_america_mill">South America</option>
      <option value="us_aea">USA</option>
      <option value="us-ak_lcc_en">US - AK</option> 
      <option value="us-al_lcc_en">US - AL</option>
      <option value="us-ar_lcc_en">US - AR</option>
      <option value="us-az_lcc_en">US - AZ</option>
      <option value="us-ca_lcc_en">US - CA</option>
      <option value="us-co_lcc_en">US - CO</option>
      <option value="us-ct_lcc_en">US - CT</option>
      <option value="us-dc_lcc_en">US - DC</option>
      <option value="us-de_lcc_en">US - DE</option>
      <option value="us-fl_lcc_en">US - FL</option>
      <option value="us-ga_lcc_en">US - GA</option>
      <option value="us-hi_lcc_en">US - HI</option>
      <option value="us-ia_lcc_en">US - IA</option>
      <option value="us-id_lcc_en">US - ID</option>
      <option value="us-il_lcc_en">US - IL</option>
      <option value="us-in_lcc_en">US - IN</option>
      <option value="us-ks_lcc_en">US - KS</option>
      <option value="us-ky_lcc_en">US - KY</option>
      <option value="us-la_lcc_en">US - LA</option>
      <option value="us-ma_lcc_en">US - MA</option>
      <option value="us-md_lcc_en">US - MD</option>
      <option value="us-me_lcc_en">US - ME</option>
      <option value="us-mi_lcc_en">US - MI</option>
      <option value="us-mn_lcc_en">US - MN</option>
      <option value="us-mo_lcc_en">US - MO</option>
      <option value="us-ms_lcc_en">US - MS</option>
      <option value="us-mt_lcc_en">US - MT</option>
      <option value="us-nc_lcc_en">US - NC</option>
      <option value="us-nd_lcc_en">US - ND</option>
      <option value="us-ne_lcc_en">US - NE</option>
      <option value="us-nh_lcc_en">US - NH</option>
      <option value="us-nj_lcc_en">US - NJ</option>
      <option value="us-nm_lcc_en">US - NM</option>
      <option value="us-nv_lcc_en">US - NV</option>
      <option value="us-ny_lcc_en">US - NY</option>
      <option value="us-oh_lcc_en">US - OH</option>
      <option value="us-ok_lcc_en">US - OK</option>
      <option value="us-or_lcc_en">US - OR</option>
      <option value="us-pa_lcc_en">US - PA</option>
      <option value="us-ri_lcc_en">US - RI</option>
      <option value="us-sc_lcc_en">US - SC</option>
      <option value="us-sd_lcc_en">US - SD</option>
      <option value="us-tn_lcc_en">US - TN</option>
      <option value="us-tx_lcc_en">US - TX</option>
      <option value="us-ut_lcc_en">US - UT</option>
      <option value="us-va_lcc_en">US - VA</option>
      <option value="us-vt_lcc_en">US - VT</option>
      <option value="us-wa_lcc_en">US - WA</option>
      <option value="us-wi_lcc_en">US - WI</option>
      <option value="us-wv_lcc_en">US - WV</option>
      <option value="us-wy_lcc_en">US - WY</option>
    </select>
  </div>

  <!-- Color Scale -->
  <div class="form-group">
    <h3>Map Color Scale</h3>
    <label>Min Color: </label>
    <input type="text" ng-model="vis.params.minColor"><br>
    <label>Max Color: </label>
    <input type="text" ng-model="vis.params.maxColor">
  </div>

  <!-- Tooltip Number Format Type -->
  <div class="form-group">
    <h3>Tooltip Number Format</h3>
    <select ng-model="vis.params.tipNumberFormat" class="form-control">
      <option value="number" selected="selected">number</option>
      <option value="bytes">bytes</option>
      <option value="currency">currency</option>
      <option value="percentage">percentage</option>
    </select>
  </div>
</div>
